@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #3a69ff;
  --secondary-color: #eeeeee;
  --red-color: #df1c1f;
}

body {
  font-family: "Poppins", sans-serif !important;
}

ul {
  padding: 0 !important;
  margin: 0 !important;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none !important;
}

.primary-color {
  color: var(--primary-color) !important;
}

.primary-background {
  background-color: var(--primary-color) !important;
}

.red-background {
  background-color: var(--red-color) !important;
}

.secondary-background {
  background-color: var(--secondary-color);
}

.logo-color {
  color: #600708;
}

.logo {
  width: 80px;
}

.cursor-pointer {
  cursor: pointer;
}

.row > * {
  padding: 0 !important;
}

#sidebar ul li:hover {
  background-color: #3a69ff;
}

#sidebar ul li a:hover {
  color: white !important;
}

.gradient-button {
  background: linear-gradient(90deg, #38b6ff 0%, #385eff 80%);
}

.notification-count {
  width: 18px;
  height: 18px;
  text-align: center;
  font-size: 12px !important;
}

.error-chicken {
  width: 70%;
}

.profile-img {
  width: 50px;
}

.m-n1 {
  margin: -0.25rem 0 !important;
}

a.active {
  color: var(--primary-color) !important;
}

.offcanvas-body {
  padding: 0 !important;
}

.dropdown-menu-custom {
  max-width: 350px;
  width: 350px !important;
  white-space: normal;
}

.dropdown-menu-custom .dropdown-item {
  white-space: normal;
}

@media screen and (max-width: 767px) {
  .dropdown-menu-custom {
    width: 250px !important;
  }
}
